* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register2 {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register2 h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls2 {
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid  #fc9906;
    font-size: 18px;
    color: #fc9906;
}

.form-register2 p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px; 
}

.form-register2 a {
    color: white;
    text-decoration: none;
}

.form-register2 a:hover {
    color: white;
    text-decoration: underline;
}

.form-register2 botons2 {
    width: 100%;
    background: #fc9906;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}