main {
  min-height: 80vh;
}

footer {
  min-height: 20vh;
}
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .col-lg-4 img {
    transition: all .5s;
  }
  .col-lg-4 img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
  }
  
  .dos {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  
  }

  .bi {
    font-size: 2.5rem;
    cursor: pointer;
    transition: .3s all;
  }

  .bi:hover {
    color: rgb(71, 13, 129);
  }
  /* RESPONSIVE CSS--------- */
  
  @media (min-width: 40em) {
  
    .dos {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;  
  }
  }
  
  @media (min-width: 62em) {
    .dos {
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;  
  }
  }
  